.MiddleBg{
    margin-top: 20px;
    opacity: 0.5;
    width: 60%;
}
.ship img{ 
    width: 80%;
}

.col img{
    display: flex;
    flex-direction: row;
    width: 80px;
    margin-left: 100px;
}

.title {
    font-size: 24px;
}

.summary{
    font-weight: 100;
}